<a href="https://colab.research.google.com/github/teamabhishek/abhi.4/blob/main/Copy_of_Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=float(input("enter a number:"))
if(a>b) and (a>c):
  print("a is largest")
if(b>c) and (b>a):
  print("b is largest")
if(c>a) and (c>b):
  print("c is largest")

enter a number:67
enter a number:73
enter a number:87
c is largest

In [ ]:
a=int(input("enter a number:"))
if(a%2==1):
  print("a is odd")
else:
  print("a is even")

enter a number:75
a is odd

In [ ]:
r=float(input("radius of circle= "))
c=6.28*r
print("circumference of circle=",c)
a=3.14*(r**2)
print("area of circle=",a)

radius of circle= 2
circumference of circle= 12.56
area of circle= 12.56

In [ ]:
print("hello world")

hello world

In [ ]:
a=23
b=25
(a,b)=(b,a)
print(a,b)

25 23

In [ ]:
a=[0,2,7,1,5,8,9,3,4,6]
for x in a:
 if x<5:
  print(x)

0
2
1
3
4

In [ ]:
a=input("fill name- ")
b=float(input("and age- "))
b+=10
print("and get your age of 10 year after=",b)

fill name- smith
and age- 12
and get your age of 10 year after= 22.0

In [ ]:
a=input("word")
a=a.casefold()
b=reversed(a)
if list(a)==list(b):
  print("palindrome word")
else:
  print("sorry, word is not palindrome")

wordlevel
palindrome word

In [ ]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
if((a*b)>1000):
  print("added according to question=",a+b)
else:
  print("multiplied according to question=",a*b)

enter a number: 500
enter a number: 3
added according to question= 503

In [ ]:
a=[5,7,9,3,6]
b=a+a
print("iterated",b)
for x in a:
  if(x%5==0):
    print(x)

iterated [5, 7, 9, 3, 6, 5, 7, 9, 3, 6]
5